
header{
	background: url(../image/large.jpg);
	background-size: cover;
	width: 100%;
}

.negro{
	background-color: rgba(81,88,96,0.6);
}

header ul{
	float: right;
	padding: 10px;
}

li a{
	float: right;
	padding: 10px;
	text-decoration: none;
	color:white;
}

.text{
	display: table;
	width: 100%;
	height: 200px;
	color: white;
	margin: auto;
	padding: 120px;
}

.medio{
	vertical-align: middle;
	display: table-cell;
}

.services h3{
	color: #74A3DB;
	padding: 10px;
}

.header-banner{
	background: rgba(116,163,219,0.8);
	color: white;
	margin: 0;
	padding: 0;
}

button{
	padding: 5px;
	border: 2px solid white;
	background: rgba(116,163,219,0.8);
	margin: 30px;
}

.icon .icon-container{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0. 0, 0, 0.2);
	border-radius: 200px;
	color: #74A3DB;
}

.icon{
    padding: 0 8%;
    height: 350px;
    text-align: center;
}

.icon h3{
	text-align: center;
	color: #08298A;
    margin: 10% 0;
    width: 200px;
    margin-left: 50px;
}

.separador{
    text-align: center;
}

.separador img{
	margin: -10px;
}

.ejemplo{
    padding: 5% 0;
    border-bottom: rgba(0,0,0,0.5)
}

.ejemplo h3{
    color: #74A3DB;
    margin: 5% 0;
}

.ejem{
    width: 50%;
}

.flecha{
    margin: 0 45%;
}

.lo-quiero img{
	width: 100%;
	height: 500px;
	background: black;
	opacity: 0.5;
}

.compu{
	padding: 0;
}

.lo-quiero h3{
	margin-left: 30px;
}

.pasos{
	margin-left: 30px; 
}

h4{
	color: #74A3DB;
	margin-top: 40px;
}

.icon-img{
	width: 50px;
    height: 50px;
    background-color: #74A3DB;
    color: white;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: -4%;
}

.ejem-2 .icon-img{
	margin-top: 40px;
}

.porque{
    margin: 5% 0;
}

.usar img{
    width: 50%;
}

.usar h3{
   	color: #74A3DB;
    text-align: center;
    margin: 5% 0; 
}

.usar ul{
    margin: 4% 7%;
}

.foto2{
    width: 100%;
}



footer{
    background: #2a3541;
    color: #fff;
    padding: 3% 0; 
}
.social{
 text-align: right  
}
.social i{
    display: inline-block;
    font-size:20px;
    color: #74a3db;
    margin:0 2% 5%;
}

footer p{
	text-align: right;
}

/*-------------------------Formulario----------------------------------------*/

.formulario{
    background-color: white;
    padding: 0% 4%;
    border-top: 5px solid #74a3db;
    border-radius: 10px;
    width: 60%;
    position: relative;
    margin: 5% 20%; 
}

.formulario h3{
    border-bottom: 2px solid #ccc;
}

.formulario button{
    background-color: #74a3db;
    color: #fff
}

